{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock %}
{% load static %}
{% block content %}
<div class="flex justify-around">
    <div
        class=" mt-16 w-auto max-w-lg bg-light-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-700 dark:border-gray-700">
        <img class="ml-16 mt-8" src="{% static 'img/logo.png'%}" alt=""></img>

        <div class="p-5">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {% if token_fail %}
                {% trans "Bad Token" %}
                {% else %}
                {% trans "Change Password" %}
                {% endif %}
            </h5>

            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">El enlace para restablecer la contraseña no es
                válido, posiblemente porque ya se ha utilizado. Por favor, solicite un <a href="{{ passwd_reset_url }}">
                    nuevo restablecimiento de contraseña</p>
            {% else %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}" />
            </form>
            {% endif %}

        </div>
    </div>


</div>
<p></p>
<h1></h1>

{% endblock %}