{% extends "_base.html" %}
{% load i18n %}
{% block title %}{% trans "Registrarse" %}{% endblock title %}
{% load account socialaccount %}

{% block content %}
<div class="mt-5">
  <h1 class="flex justify-center text-3xl">{% trans "Signup" %}</h1>
</div>


<div class="flex justify-center mt-10">
  <form class="login" method="POST">
    {% csrf_token %}
    
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="id_email">Correo electrónico:</label>


      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="email" name="email" placeholder="Correo electrónico" autocomplete="email" required="" id="id_email">






      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="id_password1">Contraseña:</label>


      <input type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="password1" placeholder="Contraseña" autocomplete="new-password" required=""
        id="id_password1">






      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="id_password2">Contraseña (de nuevo):</label>


      <input type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="password2" placeholder="Contraseña (de nuevo)" autocomplete="new-password"
        required="" id="id_password2">






      <a class="button secondaryAction" href="/accounts/password/reset/">¿Olvidó su contraseña?</a>
      
      <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="submit">Iniciar sesión</button>
    </form>
  </form>
</div>
{% endblock %}