{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="flex justify-around">
    <div class=" mt-16 w-auto max-w-lg bg-light-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-700 dark:border-gray-700">
            <img class="ml-16 mt-8" src="{% static 'img/logo.png'%}" alt=""></img>
        <div class="p-5">
            
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{% trans "Verify Your E-mail Address" %}</h5>
                {% url 'account_email' as email_url %}
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% trans This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you
                verify ownership of your e-mail address.%} </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% trans We have sent an e-mail to you for
                verification. Please click on the link inside that e-mail. If you do not see the verification e-mail in your main inbox, check your spam folder. Otherwise
                contact us if you do not receive it within a few minutes.%} </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %} </p>
        </div>
    </div>        
</div>
<p></p>


{% endblock %}
