{% load static %}
<div id="menu_verical" class="menu pointerCursor hide">
</div>
<div class="container flex justify-center mx-auto">
  <div x-data="{ open: false }" @mouseleave="open = false" class="relative">
      <!-- Dropdown toggle button -->
      <button @mouseover="open = true" class="flex items-center p-2 bg-transparent rounded-t">
        <img src="{% static 'img/accessibility_white_24dp.svg'%}" alt=""/> 
      </button>

      <!-- Dropdown menu -->
      <div x-show="open"
      x-transition:enter.duration.700ms
      x-transition:leave.duration.700ms
      class="absolute right-0 py-2 bg-transparent rounded-b shadow-xl">
      <button type="button" id="acercar">
        <img class="w-25" src="{% static 'img/zoom-in-line.svg' %}" alt="" />
      </button>
      <button type="button" id="disminuir">
        <img class="w-25" src="{% static 'img/zoom_out_black_24dp.svg' %}" alt="" />
      </button>
      <button type="button" id="restaurar">
        <img class="w-25" src="{% static 'img/restart.svg' %}" alt="" />
      </button>
      <button type="button" id="dark">
        <img class="w-25" src="{% static 'img/invert_colors_black_24dp.svg'%}" alt="" />
      </button>
      </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/cdn.alpine.min.js' %}"></script>
<script src="{% static 'js/accesibilidad.js' %}"></script>
