<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
       <svg class="w-6 h-6" fill="none" stroke="currentColor"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
        </path>
      </svg>
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Los insumos agregados no pueden ser
        modificados una vez sean guardados en la factura.</p>
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 rounded-l-lg">
          Nombre
        </th>
        <th scope="col" class="px-6 py-3">
          total
        </th>
        <th scope="col" class="px-6 py-3 rounded-r-lg">
          Precio
        </th>
      </tr>
    </thead>
    <tbody>
      {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items %}
      <tr class="bg-white dark:bg-gray-800">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{value.nombre}}
        </th>
        <td class="px-6 py-4">
          {{value.suma_tot}}
        </td>
        <td class="px-6 py-4">
          {{value.acumulado}}
          <a href="{% url 'Add' value.producto_id %}"><svg class="w-6 h-6" fill="none" stroke="currentColor"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6">
              </path>
            </svg></a>
          <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark"><svg class="w-6 h-6"
              fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
            </svg></a>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="3">
          <div class="text-center alert alert-danger"> Sin Productos </div>
        </td>
      </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr class="font-semibold text-gray-900 dark:text-white">
        <th scope="row" class="px-6 py-3 text-base">Total</th>
        <td class="px-6 py-3">{{value.cantidad}}</td>
        <td class="px-6 py-3">
          {{value.acumulado}}
        </td>
      </tr>
      <div class="text-center row">

      </div>
    </tfoot>
  </table>
  <div class="flex justify-end gap-5">
      <a data-popover-target="popover-default" href="{% url 'CLS' %}" class="btn btn-danger"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg></a>

{% comment %} <!-- <a href="{% url 'factura' datos_factura.usuario %}">
  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path></svg>
</a> --> {% endcomment %}

  {% csrf_token %}
<a href="{% url 'factura' %}">
  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path></svg>
</a>
      {% comment %} <!-- <a href=" {% url 'viewss' 'id' %}" data-popover-target="popover-default" class="btn btn-success"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path></svg></a> --> {% endcomment %}

  </div>
</div>