{% extends "_base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %}Facturacion{% endblock title %}
{% block content %}
<form method="POST">

  {% csrf_token %}
  <div id="div_id_usuario" class="mb-3"> <label for="id_usuario" class="block mb-2 text-sm font-bold text-gray-700 ">
      Usuario<span class="asteriskField">*</span> </label>
    <div class="mb-3">
      <div class="relative">
        <select
          class="block w-full px-4 py-2 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none select1 focus:outline-none"
          name="usuario">
          <option value="">---------</option>
          {% for user in usuario %}
          <option value="{{user.id}}">{{user.nombre}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div id="div_id_vehiculo" class="mb-3"> <label for="id_vehiculo" class="block mb-2 text-sm font-bold text-gray-700">
      Vehiculo<span class="asteriskField">*</span> </label>
    <div class="mb-3">
      <div class="relative">
        <select
          class="block w-full px-4 py-2 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none select2 focus:outline-none"
          name="vehiculo">  
          <option>---------</option>
          {% for Vehiculo in vehiculo  %}
          <option data-index-number="{{Vehiculo.usuario_id}}" value="{{Vehiculo.id}}">{{Vehiculo.placa}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <button type="submit"
    class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">
    enviar
  </button>
</form>


{% endblock content %}