{% extends "_base.html" %}
{% load static %}
{% block title %}Facturacion{% endblock title %}
{% block content %}
<button type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"  onclick = "history.back ()">
  <img src="{% static 'img/flecha-izquierda.png' %}" class="h-6 mr-3 sm:h-9" alt="">
</button>
<div class="flex justify-center">
  <div class="w-1/2">
    <form method="POST">
      {% csrf_token %}
      <div id="div_id_usuario" class="mb-3"> <label for="id_usuario" class="block mb-2 text-sm font-bold text-gray-700 ">
        Usuario<span class="asteriskField">*</span> </label>
        <div class="mb-3">
          <div class="relative">
            <select class="block w-full px-4 py-2 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none select1 focus:outline-none"
            name="usuario">
            <option>---------</option>
            {% for user in usuario  %}
            <option value="{{user.id}}">{{user.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div id="div_id_vehiculo" class="mb-3"> <label for="id_vehiculo" class="block mb-2 text-sm font-bold text-gray-700">
      Vehiculo<span class="asteriskField">*</span> </label>
      <div class="mb-3">
        <div class="relative">
          <select class="block w-full px-4 py-2 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none select2 focus:outline-none"
          name="vehiculo">  
          <option>---------</option>
          {% for vehiculos in vehiculo  %}
          <option data-index-number="{{vehiculos.usuario_id}}" value="{{vehiculos.id}}">{{vehiculos.placa}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    
    <button type="submit"
    class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">
    Registrar factura
  </button>
</div>
</form>
</div>
</div>
<script type="text/javascript" src="{% static 'js/facturacion.js' %}"></script>



{% endblock %}