{% extends '_base.html' %}
{% load static %}
{% block title %}Tienda{% endblock title %}
{% block content %}
    
    <div class="grid grid-cols-1 sm:grid-cols-2">
<div class="grid grid-cols-1 gap-5 overflow-auto sm:grid-cols-3">
    {% for producto in productos %}
    <div>
        
<div class="w-full  max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    
    <div class="px-5  pb-5">
        <a href="#"  class="px-5 pb-5 ">        
                <div class="flex justify-center">
                <h5 class="text-xl font-semibold  tracking-tight text-gray-900 dark:text-white">{{producto.nombre}}</h5>
            </div>
            </a>
        
        <div class="flex justify-center mb-5 items-center">
            <span class="text-3xl font-bold padding-3 text-gray-900 dark:text-white">${{producto.precio}}</span>
        </div>
        <div class="flex">
            <a href="{% url 'Add' producto.id %}"class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Agregar a su factura</a>
        </div>
    </div>
</div>

    </div>
{% endfor %}
</div>    

<div>{% include "facturacion/compras.html" %} </div>
<div class="mt-5 text-3xl font-bold text-gray-900 dark:text-white">Total: {{total_carrito}} $</div>
    </div>

{% endblock content %}
        




















            
            <div class="col-4">
                {% include "facturacion/compras.html" %}
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
