<!-- templates/index.html -->
{% extends "_base.html" %}
{% load account %}
{% load static %}
{% user_display user as user_display %}
{% block title %}Inicio migueautos{% endblock title %}
{% block content %}
<div>
        <h1 class="flex justify-center text-5xl text-green-800 font-Titulos dark:text-white">Bienvenido {{user_display}}</h1>
        
    <h2 class="flex justify-center text-2xl text-green-800 font-importante dark:text-white">a migueautos</h2>
    <div class="flex justify-center mt-16 dark:text-white">
        <span>Datos de inicio:</span>
    </div>
    <div class="flex justify-center mt-4 dark:text-white">
        <span>Fecha: {{fecha}}</span>
    </div>
    <div class="flex justify-center mt-4 dark:text-white">
        <span>Hora: {{hora}}</span>
    </div>
    {% if user.is_authenticated %}
    <div class="flex justify-center mt-4 dark:text-white">
        <div class="p-4 mb-5 text-sm text-green-600 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
            <div class="flex justify-center mb-5">
                <img src="{% static 'img/logomigueautos.png' %}" class="justify-center mr-3 h-9 sm:h-9" alt="Migueautos Logo">
            </div>
            <span class="font-medium">Excelente su sesión se encuentra activa!</span>
          </div>
    </div>
    
    {% else %}
    <div class="flex justify-center mt-4 dark:text-white">
        <div class="p-4 mb-5 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
            <div class="flex justify-center mb-5">
                <img src="{% static 'img/logomigueautos.png' %}" class="justify-center mr-3 h-9 sm:h-9" alt="Migueautos Logo">
            </div>
            <span class="font-medium">Recuerda!</span> Tienes que iniciar sesión para poder acceder a los módulos funcionales de migueautos.
          </div>
    </div>
    {% endif %}
</div>
{% endblock content %}